node_modules/
dist/
npm-debug.log
*.log
coverage/
*.tsbuildinfo

.env
.env.*.local
.env.production
.env.test

backend/dist/
frontend/out-tsc/

backend/prisma/dev.db
backend/prisma/dev.db-journal

frontend/.angular/
frontend/dist/

postgres_data/
redis_data/
portainer_data/

.DS_Store
.vscode/
.idea/
bandai-backend-server.pem
